<html>
    <head>
        <title>NGO application</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="details.css" />
    </head>
    <style>
    @import "https://fonts.googleapis.com/css?family=Montserrat:300,400,700";
.rwd-table {
  
  margin: 1em 0;
  min-width: 700px;
}
.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.rwd-table th {
  display: none;
}
.rwd-table td {
  display: block;
}
.rwd-table td:first-child {
  padding-top: .5em;
}
.rwd-table td:last-child {
  padding-bottom: .5em;
}
.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}
@media (min-width: 480px) {
  .rwd-table td:before {
    display: none;
  }
}
.rwd-table th, .rwd-table td {
  text-align: left;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child, .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child, .rwd-table td:last-child {
    padding-right: 0;
  }
}

body {
  padding: 0 2em;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #444;
  background: white;
}

h1 {
  font-weight: normal;
  letter-spacing: -1px;
  color: #34495E;
}

.rwd-table {
  background: #34495E;
  color: #fff;
  border-radius: .4em;
  overflow: hidden;
}
.rwd-table tr {
  border-color: #46637f;
}
.rwd-table th, .rwd-table td {
  margin: .5em 1em;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    padding: 1em !important;
  }
}
.rwd-table th, .rwd-table td:before {
  color: #dd5;
}</style>
    <body>
         <nav class="navbar navbar-default">
        <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand" href="/">Home</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-center">
                    
                    <li><a href="/">About US</a></li>
                     <li><a href="/">Conatct US</a></li>
                      </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <% if(!currentUser){ %>
                      <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login </a></li>
                       
                     <% } else { %>
                     <li><a href="#">Signed In As <%= currentUser.username %></a></li>
                     <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout </a></li>
                     <% } %>
                    
                </ul>
            </div>
            
        </div>
    </nav>
<div class="container">
    <div class="row">
        <div style="width : 60%; margin:0 auto;">
          
          
<h1>View School details</h1>
<table class="rwd-table">
   
  <tr>
    <th style="text-align:center;" colspan="4">Details</th>
    <%rep.forEach(function(){ %>
  </tr>
  <tr >
    <td data-th colspan="2">School name</td>
    <td data-th colspan="2"><%= rep[0].sname %></td>
    
  </tr>
  <tr>
     <td data-th colspan="2">Represntative name</td>
    <td data-th colspan="2"><%= rep[0].rname %></td>
  </tr>
  <tr>
    <td data-th colspan="2">School adress</td>
      <td data-th colspan="2"><%= rep[0].address %></td>
      
  </tr>
  
   <tr>
    <td data-th colspan="1">City</td>
      <td data-th colspan="1"><%= rep[0].city%></td>
      <td data-th colspan="1">Pincode</td>
      <td data-th colspan="1"><%= rep[0].pincode%></td>
  </tr>
  <tr>
    <td data-th colspan="1">Telephone</td>
      <td data-th colspan="1"><%= rep[0].telephone%></td>
      <td data-th colspan="1">Mobile</td>
      <td data-th colspan="1"><%= rep[0].mobile%></td>
  </tr>
     <tr>
    <td data-th colspan="2">email</td>
      <td data-th colspan="2"><%= rep[0].email%></td>
   </tr>
   <tr>
    <td data-th colspan="4" style="text-align: center;" >Infrastructure</td>
      
   </tr>
   
    <tr>
    <td data-th colspan="0.5">Fan</td>
      <td data-th colspan="0.5"><%= rep[0].Infra[0].fan%></td>
      <td data-th colspan="0.5">Lights</td>
      <td data-th colspan="1"><%= rep[0].Infra[0].lights%></td>
  </tr>
      <tr>
    <td data-th colspan="0.5">Water purifier</td>
      <td data-th colspan="0.5"><%= rep[0].Infra[0].purifier%></td>
      <td data-th colspan="0.5">White/black board</td>
      <td data-th colspan="0.5"><%= rep[0].Infra[0].board%></td>
  </tr>
  </tr>
      <tr>
    <td data-th colspan="0.5">Toilet for boys</td>
      <td data-th colspan="0.5"><%= rep[0].Infra[0].tboys%></td>
      <td data-th colspan="0.5">Toilet for girls</td>
      <td data-th colspan="0.5"><%= rep[0].Infra[0].tgirls%></td>
  </tr>
   <td data-th colspan="4" style="text-align: center;" >Digital Devices</td>
  <tr>
    <td data-th colspan="0.5">Laptop</td>
      <td data-th colspan="0.5"><%= rep[0].Digital[0].laptop%></td>
      <td data-th colspan="0.5">Monitor</td>
      <td data-th colspan="0.5"><%= rep[0].Digital[0].monitor%></td>
  </tr>
  <tr>
    <td data-th colspan="1">CPU</td>
      <td data-th colspan="1"><%= rep[0].Digital[0].cpu%></td>
      <td data-th colspan="1">Projector</td>
      <td data-th colspan="1"><%= rep[0].Digital[0].projector%></td>
  </tr>
   <tr>
    <td data-th colspan="1">Mouse</td>
      <td data-th colspan="1"><%= rep[0].Digital[0].mouse%></td>
      <td data-th colspan="1">Keyboard</td>
      <td data-th colspan="1"><%= rep[0].Digital[0].keyboard%></td>
  </tr>
  <td data-th colspan="4" style="text-align: center;" >Stationaries</td>
  <tr>
  <td data-th colspan="1">Ruled books</td>
      <td data-th colspan="1"><%= rep[0].Stationaries[0].rbooks%></td>
      <td data-th colspan="1">Unruled books</td>
      <td data-th colspan="1"><%= rep[0].Stationaries[0].urbooks%></td>
  </tr>
  <tr>
  <td data-th colspan="1">Math books</td>
      <td data-th colspan="1"><%= rep[0].Stationaries[0].mbooks%></td>
      <td data-th colspan="1">Cursive writting books</td>
      <td data-th colspan="1"><%= rep[0].Stationaries[0].cbooks%></td>
  </tr>
  <tr>
  <td data-th colspan="1">Dictonary</td>
      <td data-th colspan="1"><%= rep[0].Stationaries[0].dictonary%></td>
      <td data-th colspan="1">Atlas</td>
      <td data-th colspan="1"><%= rep[0].Stationaries[0].atlas%></td>
  </tr>
  <tr>
  <td data-th colspan="1">Bags</td>
      <td data-th colspan="1"><%= rep[0].Stationaries[0].bags%></td>
      <td data-th colspan="1">Pencil</td>
      <td data-th colspan="1"><%= rep[0].Stationaries[0].pencil%></td>
  </tr>
  <tr>
  <td data-th colspan="1">Pen</td>
      <td data-th colspan="1"><%= rep[0].Stationaries[0].pen%></td>
      <td data-th colspan="1">Eraser</td>
      <td data-th colspan="1"><%= rep[0].Stationaries[0].eraser%></td>
  </tr>
  <tr>
  <td data-th colspan="1">Sharpner</td>
      <td data-th colspan="1"><%= rep[0].Stationaries[0].sharpner%></td>
      <td data-th colspan="1">Geomerty box</td>
      <td data-th colspan="1"><%= rep[0].Stationaries[0].gbox%></td>
  </tr>
    <td data-th colspan="4" style="text-align: center;">Services </td>
     <tr>
  <td data-th colspan="1">Internet</td>
      <td data-th colspan="1"><%= rep[0].Services[0]%></td>
      <td data-th colspan="1">News paper </td>
      <td data-th colspan="1"><%= rep[0].Services[0]%></td>
  </tr>
  <tr>
  <td data-th colspan="1">Magazine</td>
      <td data-th colspan="1"><%= rep[0].Services[0]%></td>
      <td data-th colspan="1"></td>
      <td data-th colspan="1"></td>
  </tr>
   <td data-th colspan="4" style="text-align: center;">Value-added curriculum </td> 
   <tr>
   <td data-th colspan="1">Personal hygiene</td>
      <td data-th colspan="1"><%= rep[0].Ecurriculum[0].hygiene%></td>
      <td data-th colspan="1">Environmental awareness</td>
      <td data-th colspan="1"><%= rep[0].Ecurriculum[0].eawarness%></td>
  </tr>
  <tr>
   <td data-th colspan="1">Moral Science</td>
      <td data-th colspan="1"><%= rep[0].Ecurriculum[0].mscience%></td>
      <td data-th colspan="1">Karate</td>
      <td data-th colspan="1"><%= rep[0].Ecurriculum[0].karate%></td>
  </tr>
  <tr>
   <td data-th colspan="1">Yoga</td>
      <td data-th colspan="1"><%= rep[0].Ecurriculum[0].yoga%></td>
      <td data-th colspan="1">Dance</td>
      <td data-th colspan="1"><%= rep[0].Ecurriculum[0].dance%></td>
  </tr>
  <tr>
   <td data-th colspan="1">Inspirational stories</td>
      <td data-th colspan="1"><%= rep[0].Ecurriculum[0].istory%></td>
      <td data-th colspan="1">Arts and craft</td>
      <td data-th colspan="1"><%= rep[0].Ecurriculum[0].craft%></td>
  </tr>
  <tr>
   <td data-th colspan="1">Debate</td>
      <td data-th colspan="1"><%= rep[0].Ecurriculum[0].debate%></td>
      <td data-th colspan="1"></td>
      <td data-th colspan="1"></td>
  </tr>
  
</table>
 <%  });%>







    
        <div class="form-group">
                    
                    
                     <a  class="btn btn-lg btn-primary btn-block" href ="/details/SchoolRep/<%= rep[0].id %>/edit" id="Represntative name">edit</a>
                
                </div>
</div>
</div>
</div>


</body>

</html>



