<% include partials/header %>
<style>
.icon-space{
    display: inline-block;
    padding:10px;
}
    .form-group {
    padding: 0px;
}
.btn-primary {
     margin-left: 0px; 
}
</style>
<div class="container">
    <div class="row">
        <div style="width : 40%; margin:0 auto;">
            <form class="form-horizontal" action="/details/SchoolRep/<%= schoolrep.id%>?_method=PUT" method="POST">
                <div class="form-group">
                    <label class="control-label col-sm-3" for="Schoolname">School name:</label>
                    <div class="col-sm-9">
                     <input type="text" class="form-control" id="Schoolname" name="sname" value="<%=schoolrep.sname%>">
                     </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="Represntative name">Represntative name:</label>
                    <div class="col-sm-9">
                     <input type="text" class="form-control" id="Represntative name" name="rname" value="<%=schoolrep.rname%>">
                     </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="Address">Address:</label>
                    <div class="col-sm-9">
                     <input type="text" class="form-control" id="Address" name="address" value="<%=schoolrep.address%>">
                     </div>
                </div>
                <div class="form-group">
            <label class="col-sm-3 control-label" for="city">City</label>
            <div class="col-sm-3">
              <input type="text" id="city"  name="city"class="form-control" value="<%=schoolrep.city%>">
            </div>

            <label class="col-sm-2 control-label" for="Pincode">Pincode</label>
            <div class="col-sm-4">
              <input type="text"  id="Pincode"  name="pincode" class="form-control" value="<%=schoolrep.pincode%>">
            </div>
          </div>
           <div class="form-group">
            <label class="col-sm-3 control-label" for="Telephone" >Telephone</label>
            <div class="col-sm-4">
              <input type="text"  id="Telephone" name="telephone" class="form-control"value="<%=schoolrep.telephone%>">
            </div>

            <label class="col-sm-1 control-label" for="Mobile" Style="font-size:93%;">Mobile</label>
            <div class="col-sm-4">
              <input type="text"  id="Mobile" name="mobile" class="form-control" value="<%=schoolrep.mobile%>">
            </div>
          </div>
            
                <div class="form-group">
                    <label class="control-label col-sm-3" for="Email">Email</label>
                    <div class="col-sm-9">
                     <input type="email" class="form-control" id="Email" name="email" placeholder="Enter Email">
                     </div>
                </div>
                
                 <div class="form-group">
                    <label class="control-label col-sm-3" for="Infra">Infrastructure:</label>
                    
                        <div class="col-sm-3">
                            <label class="control-label col-sm-3" for="fan" >Fan</label>
                            <input type="Number" class="form-control col-sm-1" id="fan" name="fan" value="<%=schoolrep.Infra[0].fan%>">
                         </div>
                        <div class="col-sm-3">
                            <label class="control-label col-sm-3" for="lights">Tubelights</label>
                            <input type="Number" class="form-control col-sm-1" id="lights" name="lights" value="<%=schoolrep.Infra[0].lights%>">
                        </div>
                        <div class="col-sm-3">
                            <label class="control-label col-sm-3" for="purifier">Waterpurifier</label>
                            <input type="Number" class="form-control col-sm-1" id="purifier"name="purifier" value="<%=schoolrep.Infra[0].purifier%>">
                            </div>
                             
                    <label class="control-label col-sm-3" for="Infra"></label>
                           
                            <div class="col-sm-3">
                            <label class="control-label col-sm-3" for="board">white/black board</label>
                            <input type="Number" class="form-control col-sm-1" id="board" value="<%=schoolrep.Infra[0].board%>" min="0" step="1" >
                            </div>
                            <div class="col-sm-3">
                            <label class="control-label col-sm-3" for="tboys" >Toiletfor boys:</label>
                            <input type="Number" class="form-control col-sm-1" id="tboys" name="tboys" value="<%=schoolrep.Infra[0].tboys%>"  min="0" step="1">
                             </div>
                             <div class="col-sm-3">
                            <label class="control-label col-sm-3" for="tgirls" >Toiletfor girls:</label>
                            <input type="Number" class="form-control col-sm-1" id="tgirls" name="tgirls" value="<%=schoolrep.Infra[0].tgirls%>" min="0" step="1">
                             </div>
                        
                </div>        
                        <br>
                    <div class="form-group">
                    <label class="control-label col-sm-3" for="Infra">Digital device:</label>
                         <div class="col-sm-3">
                            <label class="control-label col-sm-3" for="laptop" >Laptop</label>
                            <input type="Number" class="form-control col-sm-1" id="laptop" name="laptop" value="<%=schoolrep.Digital[0].laptop%>"  min="0" step="1">
                         </div>
                         <div class="col-sm-3">
                            <label class="control-label col-sm-3" for="monitor" >Monitor</label>
                            <input type="Number" class="form-control col-sm-1" id="monitor" name="monitor" value="<%=schoolrep.Digital[0].monitor%>" min="0" step="1">
                         </div>
                         <div class="col-sm-3">
                            <label class="control-label col-sm-3" for="CPU" >CPU</label>
                            <input type="Number" class="form-control col-sm-1" id="cpu" name="cpu" value="<%=schoolrep.Digital[0].cpu%>" min="0" step="1">
                         </div>
                         <label class="control-label col-sm-3" for="Infra"></label>
                        <div class="col-sm-3">
                            <label class="control-label col-sm-3" for="projector" >Projector</label>
                            <input type="Number" class="form-control col-sm-1" id="projector" name="projector" value="<%=schoolrep.Digital[0].projector%>"  min="0" step="1">
                         </div>
                         <div class="col-sm-3">
                            <label class="control-label col-sm-3" for="mouse" >Mouse</label>
                            <input type="Number" class="form-control col-sm-1" id="mouse" name="mouse" value="<%=schoolrep.Digital[0].mouse%>"  min="0" step="1">
                         </div>
                          <div class="col-sm-3">
                            <label class="control-label col-sm-3" for="keyboard" >Keyboard</label>
                            <input type="Number" class="form-control col-sm-1" id="keyboard" name="keyboard" value="<%=schoolrep.Digital[0].keyboard%>"  min="0" step="1">
                         </div>
                    
                    
                 </div>
                 
                 <br>
                 <div class="form-group">
                    <label class="control-label col-sm-3" for="stationaries:">Stationaries:</label>
                    <div class="col-sm-3">
                            <label class="control-label col-sm-3" for="rbooks" >Ruled books</label>
                            <input type="Number" class="form-control col-sm-1" id="rbooks" name="rbooks" value="<%=schoolrep.Stationaries[0].rbooks%>"  min="0" step="1">
                    </div>
                    <div class="col-sm-3">
                            <label class="control-label col-sm-3" for="urbooks" >Unruled books</label>
                            <input type="Number" class="form-control col-sm-1" id="urbooks" name="urbooks" value="<%=schoolrep.Stationaries[0].urbooks%>"  min="0" step="1">
                    </div>
                    <div class="col-sm-3">
                            <label class="control-label col-sm-3" for="mbooks" >Math books</label>
                            <input type="Number" class="form-control col-sm-1" id="mbooks" name="mbooks" value="<%=schoolrep.Stationaries[0].mbooks%>"  min="0" step="1">
                    </div>
                    <label class="control-label col-sm-3" for="stationaries:"></label>
                    <div class="col-sm-3">
                            <label class="control-label col-sm-3" for="cbooks" >Cursivewritting</label>
                            <input type="Number" class="form-control col-sm-1" id="cbooks" name="cbooks" value="<%=schoolrep.Stationaries[0].cbooks%>"  min="0" step="1">
                    </div>
                     <div class="col-sm-3">
                            <label class="control-label col-sm-3" for="dictonary">Dictonary<br></label>
                            <input type="Number" class="form-control col-sm-1" id="dictonary" name="dictonary" value="<%=schoolrep.Stationaries[0].dictonary%>"  min="0" step="1">
                    </div>
                     <div class="col-sm-3">
                            <label class="control-label col-sm-3" for="atlas" >Atlas</label>
                            <input type="Number" class="form-control col-sm-1" id="atlas" name="atlas" value="<%=schoolrep.Stationaries[0].atlas%>"  min="0" step="1">
                    </div>
                    <label class="control-label col-sm-3" for="stationaries"></label>
                     <div class="col-sm-3">
                            <label class="control-label col-sm-3" for="bags" >Bags</label>
                            <input type="Number" class="form-control col-sm-1" id="bags" name="bags" value="<%=schoolrep.Stationaries[0].bags%>"  min="0" step="1">
                    </div>
                    <div class="col-sm-3">
                            <label class="control-label col-sm-3" for="pencil" >Pencil</label>
                            <input type="Number" class="form-control col-sm-1" id="pencil" name="pencil" value="<%=schoolrep.Stationaries[0].pencil%>"  min="0" step="1">
                    </div>
                    <div class="col-sm-3">
                            <label class="control-label col-sm-3" for="pen" >Pen</label>
                            <input type="Number" class="form-control col-sm-1" id="penc" name="pen" value="<%=schoolrep.Stationaries[0].pen%>"  min="0" step="1">
                    </div>
                    <label class="control-label col-sm-3" for="stationaries:"></label>
                     <div class="col-sm-3">
                            <label class="control-label col-sm-3" for="eraser" >Eraser</label>
                            <input type="Number" class="form-control col-sm-1" id="eraser" value="<%=schoolrep.Stationaries[0].eraser%>"  value="0" min="0" step="1">
                    </div>
                    <div class="col-sm-3">
                            <label class="control-label col-sm-3" for="sharpner" >Sharpner</label>
                            <input type="Number" class="form-control col-sm-1" id="eraser" name="sharpner" value="<%=schoolrep.Stationaries[0].sharpner%>"  min="0" step="1">
                    </div>
                    <label class="control-label col-sm-3" for="stationaries"></label>
                     <div class="col-sm-3" style="horizontal-align: middle;">
                            <label class="control-label col-sm-3" for="gbox" >Geomerty box</label>
                            
                            <input type="Number" class="form-control col-sm-1" id="gbox"name="gbox" value="<%=schoolrep.Stationaries[0].gbox%>"  min="0" step="1">
                    </div>
                    
                </div>
                <br>
                <div class="form-group">
                <label class="control-label col-sm-3" for="services">Services</label>
                     <div class="col-sm-3">
                            <label class="control-label col-sm-3" for="internet" >Internet</label>
                            <input  class="form-control" type="checkbox" name="services" value="internet">
                    </div>
                    <div class="col-sm-3">
                            <label class="control-label col-sm-3" for="newspaper" >Newspaper</label>
                            <input  class="form-control" type="checkbox" name="services" value="newspaper">
                    </div>
                    <div class="col-sm-3">
                            <label class="control-label col-sm-3" for="newspaper" >Magazine</label>
                            <input  class="form-control" type="checkbox" name="services" value="magazine">
                    </div>
                    </div>
                    <div class="form-group" style="text-align:center;">
                <label class="control-label col-sm-3" for="services" style="  word-wrap:break-word">Value-added curriculum(Sessions in hours)</label>
                <div class="col-sm-3">
                            <label class="control-label col-sm-3" for="hygiene" >Personal hygiene</label>
                            <input type="Number" class="form-control col-sm-1" id="hygiene"name="hygiene" value="<%=schoolrep.Ecurriculum[0].hygiene%>"  min="0" step="1">
                    </div>
                    <div class="col-sm-3">
                            <label class="control-label col-sm-3" for="eawarness" >Environmental awareness</label>
                            <input type="Number" class="form-control col-sm-1" id="eawarness" name="eawarness" value="<%=schoolrep.Ecurriculum[0].eawarness%>" min="0" step="1">
                    </div>
                     <div class="col-sm-3">
                            <label class="control-label col-sm-3" for="mscience" >Moral science</label>
                            <input type="Number" class="form-control col-sm-1" id="mscience" name="mscience" value="<%=schoolrep.Ecurriculum[0].mscience%>" min="0" step="1">
                    </div>
                    
                <div class="col-sm-3">
                            <label class="control-label col-sm-3" for="karate" >Karate</label>
                            <input type="Number" class="form-control col-sm-1" id="karate" name="karate" value="<%=schoolrep.Ecurriculum[0].karate%>" min="0" step="1">
                    </div>
                    <div class="col-sm-3">
                            <label class="control-label col-sm-3" for="yoga" >Yoga</label>
                            <input type="Number" class="form-control col-sm-1" id="yoga" name="yoga" value="<%=schoolrep.Ecurriculum[0].yoga%>" min="0" step="1">
                    </div>
                     <div class="col-sm-3">
                            <label class="control-label col-sm-3" for="dance" >Dance</label>
                            <input type="Number" class="form-control col-sm-1" id="dance" name="dance" value="<%=schoolrep.Ecurriculum[0].dance%>" min="0" step="1">
                    </div>
                     <label class="control-label col-sm-3" for="hygiene" ></label>
                    <div class="col-sm-3">
                            <label class="control-label col-sm-3" for="istory" >Inspirational stories</label>
                            <input type="Number" class="form-control col-sm-1" id="istory" name="istory" value="<%=schoolrep.Ecurriculum[0].istory%>" min="0" step="1">
                    </div>
                    <div class="col-sm-3">
                            <label class="control-label col-sm-3" for="craft" style="text-align:center;width :100px;word-wrap:break-word" >Arts and craft</label>
                            <input type="Number" class="form-control col-sm-1" id="" name="craft" value="<%=schoolrep.Ecurriculum[0].craft%>" min="0" step="1">
                    </div>
                     <div class="col-sm-3">
                            <label class="control-label col-sm-3" for="debate" style=" text-align : centre;min-height:47px;vertical-align: middle;" >Debate</label>
                            <input type="Number" class="form-control col-sm-1" id="debate" name="debate" value="<%=schoolrep.Ecurriculum[0].debate%>" min="0" step="1">
                    </div>
                    </div>
                    
                 </div>
                 <div class="form-group">
                    <label class="control-label col-sm-3" for="Represntative name"></label>
                    <div class="col-sm-9">
                     <button  class="btn btn-lg btn-primary btn-block" id="Represntative name">Submit</button>
                </div>
                </div>
                
                </div>
            </form>
        </div>
        
        
    </div>
 </div>
    
    
        

</div>

<% include partials/footer %>