<html>
    <head>
        <title>NGO application</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    </head>
    <style>
    @import "https://fonts.googleapis.com/css?family=Montserrat:300,400,700";
.rwd-table {
  
  margin: 1em 0;
  min-width: 700px;
}
.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.rwd-table th {
  display: none;
}
.rwd-table td {
  display: block;
}
.rwd-table td:first-child {
  padding-top: .5em;
}
.rwd-table td:last-child {
  padding-bottom: .5em;
}
.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}
@media (min-width: 480px) {
  .rwd-table td:before {
    display: none;
  }
}
.rwd-table th, .rwd-table td {
  text-align: left;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child, .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child, .rwd-table td:last-child {
    padding-right: 0;
  }
}

body {
  padding: 0 2em;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #444;
  background: white;
}

h1 {
  font-weight: normal;
  letter-spacing: -1px;
  color: #34495E;
}

.rwd-table {
  background: #34495E;
  color: #fff;
  border-radius: .4em;
  overflow: hidden;
}
.rwd-table tr {
  border-color: #46637f;
}
.rwd-table th, .rwd-table td {
  margin: .5em 1em;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    padding: 1em !important;
  }
}
.rwd-table th, .rwd-table td:before {
  color: #dd5;
}</style>
    <body>
         <nav class="navbar navbar-default">
        <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand" href="/">Home</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-center">
                    
                    <li><a href="/">About US</a></li>
                     <li><a href="/">Conatct US</a></li>
                      </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <% if(!currentUser){ %>
                      <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login </a></li>
                       
                     <% } else { %>
                     <li><a href="#">Signed In As <%= currentUser.username %></a></li>
                     <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout </a></li>
                     <% } %>
                    
                </ul>
            </div>
            
        </div>
    </nav>
<div class="container">
    <div class="row">
        <div style="width : 60%; margin:0 auto;">
          
          
<h1>View School details</h1>
<table class="rwd-table">
   
  <tr>
    <th style="text-align:center;" colspan="4">Details</th>

  </tr>
  <tr>
    <td data-th colspan="2">School name</td>
    <td data-th colspan="2"><%=  school.sname %></td>
    
  </tr>
  <tr>
     <td data-th colspan="2">Represntative name</td>
    <td data-th colspan="2"><%=   school.rname %></td>
  </tr>
  <tr>
    <td data-th colspan="2">School adress</td>
      <td data-th colspan="2"><%=   school.address %></td>
      
  </tr>
  
   <tr>
    <td data-th colspan="1">City</td>
      <td data-th colspan="1"><%=   school.city%></td>
      <td data-th colspan="1">Pincode</td>
      <td data-th colspan="1"><%=   school.pincode%></td>
  </tr>
  <tr>
    <td data-th colspan="1">Telephone</td>
      <td data-th colspan="1"><%=   school.telephone%></td>
      <td data-th colspan="1">Mobile</td>
      <td data-th colspan="1"><%=   school.mobile%></td>
  </tr>
     <tr>
    <td data-th colspan="2">email</td>
      <td data-th colspan="2"><%=   school.email%></td>
   </tr>
  </table>

 <a href="/Contributor/<%= school.username%>" >Go Back</a> 
 
 </div>
</div>
</div>


</body>

</html>
 